from __future__ import annotations

import asyncio
import threading
from collections.abc import AsyncGenerator, Awaitable, Callable, Generator
from contextlib import AbstractAsyncContextManager, AbstractContextManager
from typing import (
    Any,
)
from diwire.container import BaseScope

_missing_resolver: Any = object()

_number_of_dependencies = {{ registrations|count }}

{% for registration in registrations.values() %}
# spec: {{ registration }}
_dep_{{ registration.slot }}_type: type[Any]
_dep_{{ registration.slot }}_resolver: Any
_dep_{{ registration.slot }}_threading_lock = threading.Lock()
_dep_{{ registration.slot }}_asyncio_lock = asyncio.Lock()
{% endfor %}

{% macro generate_resolver_method(registration) %}
def resolve_{{ registration.slot }}(self) -> Any:
    with _dep_{{ registration.slot }}_threading_lock:
        # registration kind: {{ registration.provider_kind }}
        {% if registration.provider_kind == ProviderKind.VALUE %}
        value = _dep_{{ registration.slot }}_resolver
        {% elif registration.provider_kind == ProviderKind.CALL %}
        # resolve dependencies {{ registration.dependencies }}
        {{ build_call(registration)|indent(8) }}
        {% else %}
        raise ValueError(f"Unsupported provider kind: {{ registration.provider_kind }}")
        {% endif %}

        self.resolve_{{ registration.slot }} = lambda: value
        return value
{% endmacro -%}

{% macro build_call(registration) -%}
{# Build call code with dependencies resolution (from .resolve_X) #}
{# With proper usage of inspect.Parameter (for kw/pos only args); default to kw args #}
{%- if registration.dependencies %}
{%- set ns = namespace(positional_args=[], keyword_args=[]) %}
{%- for dependency in registration.dependencies %}
{%- set dependency_registration = registrations.get_by_type(dependency.provides) %}
{%- set dependency_resolver_ns = namespace(target="self") %}
{%- if dependency_registration.scope == registration.scope %}
{%- set dependency_resolver_ns.target = "self" %}
{%- elif dependency_registration.scope == None %}
{%- if registration.scope == None %}
{%- set dependency_resolver_ns.target = "self" %}
{%- else %}
{%- set dependency_resolver_ns.target = "self._root_resolver" %}
{%- endif %}
{%- else %}
{%- for scope in Scope %}
{%- if scope.value == dependency_registration.scope %}
{%- if registration.scope == None %}
{%- set dependency_resolver_ns.target = "self.enter_scope(" ~ scope.value ~ ")" %}
{%- else %}
{%- set dependency_resolver_ns.target = "self._" ~ scope.name|lower ~ "_resolver" %}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- set dependency_resolver_call = dependency_resolver_ns.target ~ ".resolve_" ~ dependency_registration.slot ~ "()" %}
{%- if dependency.parameter.kind == dependency.parameter.POSITIONAL_ONLY %}
{%- set ns.positional_args = ns.positional_args + [dependency_resolver_call] %}
{%- elif dependency.parameter.kind == dependency.parameter.VAR_POSITIONAL %}
{%- set ns.positional_args = ns.positional_args + ["*" ~ dependency_resolver_call] %}
{%- elif dependency.parameter.kind == dependency.parameter.VAR_KEYWORD %}
{%- set ns.keyword_args = ns.keyword_args + ["**" ~ dependency_resolver_call] %}
{%- else %}
{%- set ns.keyword_args = ns.keyword_args + [dependency.parameter.name ~ "=" ~ dependency_resolver_call] %}
{%- endif %}
{%- endfor %}
value = _dep_{{ registration.slot }}_resolver(
{%- for positional_arg in ns.positional_args %}
    {{ positional_arg }},
{%- endfor %}
{%- for keyword_arg in ns.keyword_args %}
    {{ keyword_arg }},
{%- endfor %}
)
{%- else %}
value = _dep_{{ registration.slot }}_resolver()
{%- endif %}
{%- endmacro -%}

class RootResolver:
    def enter_scope(self, scope: BaseScope):
        {% for scope in Scope %}
        if scope == {{ scope.value }}:
            return _{{ scope.name|capitalize }}Resolver(root_resolver=self)
        {% endfor %}
        raise ValueError(f"Unknown scope: {scope}")

    def resolve(self, dependency: Any) -> Any:
        return _resolvers_by_type_mapping[dependency](self)

    {% for registration in registrations.get_by_scope(None) %}
    {{ generate_resolver_method(registration)|indent(4) }}
    {% endfor %}


{% set seen_scopes_ns = namespace(seen_scopes=[]) %}

{% for scope in Scope %}

# scope {{ scope.name }}
# seen scopes: {{ seen_scopes_ns.seen_scopes }}

class _{{ scope.name|capitalize }}Resolver:
    def __init__(
        self,
        root_resolver: RootResolver,
        {% for seen_scope in seen_scopes_ns.seen_scopes -%}
        {{ seen_scope.name|lower }}_resolver: _{{ seen_scope.name|capitalize }}Resolver = _missing_resolver,
        {% endfor %}
    ) -> None:
        self._opened_resources: list[Any] = []
        self._root_resolver = root_resolver
        {% for seen_scope in seen_scopes_ns.seen_scopes -%}
        self._{{ seen_scope.name|lower }}_resolver = {{ seen_scope.name|lower}}_resolver
        {% endfor %}

    {% if seen_scopes_ns.seen_scopes|count != Scope|count - 1 %}
    def enter_scope(
        self,
        scope: BaseScope,
    ) -> Any:
        {% for scope_to_enter in Scope -%}
        {% if scope != scope_to_enter and scope_to_enter not in seen_scopes_ns.seen_scopes %}
        if scope == {{ scope_to_enter.value }}:
            return _{{ scope_to_enter.name|capitalize }}Resolver(
                root_resolver=self._root_resolver,
                {% for seen_scope in seen_scopes_ns.seen_scopes -%}
                {{ seen_scope.name|lower }}_resolver=self._{{ seen_scope.name|lower }}_resolver,
                {% endfor %}
                {{ scope.name|lower }}_resolver=self,
            )
        {% endif %}
        {% endfor %}
        raise ValueError(f"Unknown scope: {scope}")
    {% endif %}

    def resolve(self, dependency: Any) -> Any:
        return _resolvers_by_type_mapping[dependency](self)

    {% for registration in registrations.get_by_scope(scope.value) %}
    {{ generate_resolver_method(registration)|indent(4) }}
    {% endfor %}

{% set seen_scopes_ns.seen_scopes = seen_scopes_ns.seen_scopes + [scope] %}
{% endfor %}

_resolvers_by_type_mapping: dict[type[Any], Callable[[Any], Any]] = {}

_resolvers_by_slot_mapping = {
    {% for registration in registrations.get_by_scope(None) %}
    {{ registration.slot }}: RootResolver.resolve_{{ registration.slot }},
    {% endfor %}
    {% for scope in Scope %}
    {% for registration in registrations.get_by_scope(scope.value) %}
    {{ registration.slot }}: _{{ scope.name|capitalize }}Resolver.resolve_{{ registration.slot }},
    {% endfor %}
    {% endfor -%}
}

def init(registrations) -> RootResolver:
    for slot, resolver in _resolvers_by_slot_mapping.items():
        registration = registrations.get_by_slot(slot)
        _resolvers_by_type_mapping[registration.dependency_type] = resolver

    return RootResolver()
